<%= form_with(model: @post, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :menu, 'Menu' %>
        <%= f.text_field :menu, :placeholder => "Enter menu.example:Front Squat", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :weight, 'Weight' %>
        <%= f.number_field :weight, :placeholder => "Enter weight(kg or lb).example:80", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :counts, 'Counts'%>
        <%= f.number_field :counts, :placeholder => "Enter reps. example:8", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :set, 'Set' %>
        <%= f.number_field :set, :placeholder => "Enter set.example:5", class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :comment, 'Comment' %>
        <%= f.text_field :comment, :placeholder => "Enter comment.example:rest 3min.", class: 'form-control' %>
      </div>

        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <% end %>