<div class="container">
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        
        <div class="row border">
          <div class='col-5'>
            <%= f.text_field :menu, :placeholder => 'Enter menu.', class: 'form-control'%>
          </div>
          <p>×</p>
          <div class='col-2'>
            <%= f.number_field :weight, :placeholder => "Enter weight/kg.", class: 'form-control'%>
          </div>
          <p>×</p>
          <div class='col-2'>
            <%= f.number_field :counts, :placeholder => "Enter reps.", class: 'form-control'%>
          </div>
          <p>×</p>
          <div class='col-2'>
            <%= f.number_field :set, :placeholder => "Enter set.", class: 'form-control'%>
          </div>
        </div>
        
        <div class='row border mb-3'>
          <%= f.text_field :comment, :placeholder => "Enter comment.", class: 'form-control' %>
        </div>
        
        <div class='row'>
          <div class='offset-sm-9 col-sm-3'>
            <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
  <% end %>
</div>